
body{
     margin: 0%;
     padding: 0%;
     background-color: rgba(0, 0, 0, 0.938);
}
.navbar{
    background-color: transparent;
    position: relative;
    z-index: 4;
}
.nav-link{
    font-size: 20px;
}
.carousel-control-prev,.carousel-control-prev{
    width: 8%;
}
.card{
background-color: cyan;
}
.parallax{
    background-image: url('word/dwg-vs-suning.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}
@media only screen and (max-device-width:320px){
.Site{
    height: 200px;
}
}